<footer class="bg-black  text-white py-4 mt-5 container mx-auto md:px-4 lg:px-0" style="border-top: 1px solid rgba(255, 255, 255, 0.39);">
  <div class="md:flex  mt-0 justify-between items-center">
    <div class="md:text-left mb-4 md:mb-0"style="border-bottom: 1px solid #ffffff34 ;">
      <p class="font-bold mt-0 underline">Fit<span class="text-red-700">ness</span></p>
      <p class="text-xs mt-2">
        Welcome to Fitness: Your Ultimate Online Destination<br>
        for Fitness Training and Wellness.<br>
        Discover expert-guided workouts, personalized diet plans,<br>
        and dedicated support on your journey to a healthier you.<br>
        Start your fitness transformation today!
      </p>
    </div>
    <div class="text-left  md:mt-0 " style="border-bottom: 1px solid #ffffff34 ;" >
      <a class="text-gray-300 hover:text-white underline">Services</a>
      <ul style="list-style-type: disc;" class="mt-2">
        <li><a class="text-xs" href="#">Homeworkout</a></li>
        <li><a class="text-xs" href="#">Gymworkout</a></li>
        <li><a class="text-xs" href="#">Trainers</a></li>
        <li><a class="text-xs" href="#">Diet Plans</a></li>
      </ul>
    </div>
    <div class="md:text-left   mt-4 " style="border-bottom: 1px solid #ffffff34 ;">
      <a href="#" class="text-gray-300 hover:text-white underline">Informations</a>
      <ul class="mt-1">
        <li><a class="text-xs" href="#">About Us</a></li>
        <li><a><input type="text" placeholder="Email"></a></li>
        <li><a><br><button class="bg-red-900 text-white btn">Subscribe</button></a></li>
      </ul>
    </div>
  </div>

  <div class="mt-2 flex flex-col  md:flex-row justify-between items-center">
    <div class="text-center md:text-left">
      <p class="font-bold mt-0">&copy; 2023 Fit<span class="text-red-700">ness</span></p>
    </div>
    <div class="text-center md:text-right mt-0">
      <a href="#" class="text-gray-300 hover:text-white">Privacy Policy</a>
      <span class="mx-2">|</span>
      <a href="#" class="text-gray-300 hover:text-white">Terms of Service</a>
    </div>
  </div>
</footer>