
 <!-- Image Section -->
 <div class="bg-black" style="  background-image: url(../assets/images/background1.jpg);
 background-size: cover; background-position: center ; height: 100vh;">
    <app-header style="position: fixed; width: 100%;top:0;left: 0; z-index: 1;"></app-header><br>
     <div class="mt-16 p-3 bg-black" style="text-align: center !important; opacity: 0.5;">
        <span  
                        style="text-align: center; color: rgb(240, 240, 240); font-size: 24px; font-weight: bold;
             text-transform: uppercase; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

          Famous Personal Trainers

     </span>>
     </div>
    <!-- Cards Section -->
    <div  class="container mt-2  mx-auto">
        <div  class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Card -->
            <div >
                <button mat-raised-button  (click)="getVideos()"  >Video player</button>
            </div>
        </div>
    </div>
    <div class="container m-5 flex items-center justify-center mx-auto">
        <button class=" btn  border-gray-300 border-1 p-6 rounded-full shadow-lg">
           <span class="text-xs text-white"><a href="" class="underline">Click here</a> for more home workout videos and tips</span>
        </button>
    </div>
    <app-footer></app-footer>

</div>