

<div class="bg-black" style="  background-image: url(../assets/images/background1.jpg);
background-size: cover; background-position: center ; height: 100vh;">
    <app-header style="position: fixed; width: 100%;top:0;left: 0; z-index: 1;"></app-header><br>
    <div class="mt-16 p-3 bg-black" style="text-align: center !important; opacity: 0.5;">
        <span
            style="text-align: center; color: rgb(240, 240, 240); font-size: 24px; font-weight: bold;
            text-transform: uppercase; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            Watch videos Here

        </span>>
    </div>
    <!-- Cards Section -->
    <div class="container mt-2  mx-auto">
        <div  class="grid-cols-1  gap-8">
            <!-- Card -->
            <div style="max-width: 800px;" class="border-gray-300 bg-black border-1 p-6 rounded-lg shadow-lg">
                <div class="w-full h-120">
                    <vg-player>
                        <video controls>
                            <source
                                src="../assets/videos/Kong vs Skull Crawler - Fight Scene - Kong- Skull Island (2017) Movie CLIP 4K.mp4"
                                type="video/mp4">

                        </video>

                    </vg-player>
                </div>
            </div>
        </div>
    </div>
    <div class="container m-5 flex items-center justify-center mx-auto">
        
    </div>
    <app-footer></app-footer>

</div>