

<div class="bg-black" style="  background-image: url(../assets/images/background1.jpg);
background-size: cover; background-position: center ; height: 100vh;">
    <app-header style="position: fixed; width: 100%;top:0;left: 0; z-index: 1;"></app-header><br>
    <div class="mt-16 p-3 bg-black" style="text-align: center !important; opacity: 0.5;">
        <span
            style="text-align: center; color: rgb(240, 240, 240); font-size: 24px; font-weight: bold;
            text-transform: uppercase; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            Watch videos Here

        </span>>
    </div>
    <!-- Cards Section -->
    <div class="container flex justify-center mt-2  mx-auto">
        <div  class="grid-cols-1  gap-8">
            <!-- Card -->
            <div style="max-width: 1200px;" class="border-gray-300 bg-black border-1 p-6 rounded-lg shadow-lg">
                <div class="w-full h-80">
                    <vg-player>
                        <video controls>
                            <source
                            [src]="apiUrl + video?.video"
                                type="video/mp4">

                        </video>

                    </vg-player>
                </div>
                <div>
                        <h2 class="text-xl text-white font-semibold mb-2 hover:text-red-500 hover:underline">
                            {{video?.title}}</h2>
                        <p class="text-gray-300">{{video?.workoutType}}</p>
                        <p class="text-gray-300">{{video?.bodyPart}}</p>
                        <p class="text-gray-300">Date : {{ video?.uploadDate | date:'dd/MM/yyyy' }}
                    </div>
                    <div class="p-4 w-full" style="overflow-x: auto; flex: 2; max-height: 400px;">
                        <!-- Adjust the max-height as needed -->
                        <p class="text-gray-300 text-2xl">Description</p>
                        <p *ngFor="let paragraph of splitIntoParagraphs(video?.description)" class="text-gray-400">{{paragraph}}</p>
                    </div>
            </div>
        </div>
    </div>
    <div class="container m-5 flex items-center justify-center mx-auto">
        
    </div>
    <app-footer></app-footer>

</div>