<mat-toolbar class="bg-white">
    <!-- Company Icon -->
    <div class="container row">
        <div class="col">
     <img class=" h-8 w-auto" src="../assets/images/logoSEcond-removebg-preview.png" >
        </div>
     <div  class="col">
     <p class="font-bold text-lg mt-0 ">Fit<a class="text-red-700">ness</a><br>
     </div>
     </div>
    <span class="company-name">Trainer</span>
  
    <!-- Spacer -->
    <span class="spacer"></span>
  
    <!-- Profile Icon (replace 'account_circle' with your desired icon) -->
    <mat-icon class="profile-icon" *ngIf="isloginRoute()">account_circle</mat-icon >
  
    <!-- Profile Menu -->
    <button mat-icon-button [matMenuTriggerFor]="profileMenu" *ngIf="isloginRoute()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu" >
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </mat-toolbar>