.company-icon {
  font-size: 10px;
  margin-right: 8px;
}

.active-link {
  background-color: darkgray !important;
 
  border-radius: 10px !important;
}
.active-link {
  color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.profile-icon {
  font-size: 24px;
}

.profile-button{
width: 2px !important;
}
