<div class="header"><mat-toolbar class="bg-white">
  <!-- Company Icon -->
  <div class="md:hidden">
    <button (click)="tog()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-white-900 hover:bg-gray-700
    hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu"
      aria-expanded="false">
      <span class="absolute -inset-0.5"></span>
      <span class="sr-only">Open main menu</span>
      <!--
       Icon when menu is closed.

       Menu open: "hidden", Menu closed: "block"
     -->
      <svg  class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <!--
       Icon when menu is open.

       Menu open: "block", Menu closed: "hidden"
     -->
      <svg [class]="smallview" class=" h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <p *ngIf="notification.length>0" class="md:hidden relative text-sm text-red-500">{{notification.length}}</p>
  <button *ngIf="notification.length>0" type="button" matTooltip="Notifications" 
    class="md:hidden relative absolute rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">View
      notifications</span>
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
    </svg>
  </button>
  <div class="container row">
    <div class="col hidden sm:block">
      <img class="h-8 w-auto" src="../assets/images/logoSEcond-removebg-preview.png">
    </div>
    <div class="col flex md:justify-start  justify-center  text-center">
      <p class="font-bold text-2xl sm:text-lg mt-0">Fit<a class="text-red-700">ness</a></p>
    </div>
  </div>


  <span class="font-bold sm:text-lg text-xs ">Trainer</span>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- Profile Icon (replace 'account_circle' with your desired icon) -->
  <div class="sm:block hidden">
    <mat-icon class="profile-icon " *ngIf="isloginRoute()">account_circle</mat-icon>
  </div>
  <!-- Profile Menu -->
  <mat-icon [matMenuTriggerFor]="profileMenu" *ngIf="isloginRoute()">keyboard_arrow_down</mat-icon>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>

  <!-- Mobile menu, show/hide based on menu state. -->

</mat-toolbar>
<div class="w-full z-index-1" [class]="smallview"  id="mobile-menu">
  <div class="bg-gray-200 space-y-1 px-2 pb-3 pt-2">
    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
    <a [routerLink]="['/trainer/home']" routerLinkActive="active-link"
      class=" hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">
      Dashboard</a>
    <a [routerLink]="['/trainer/profile']" routerLinkActive="active-link"
      class=" hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">
      Profile </a>

    <a mat-list-item [routerLink]="['/trainer/chat']" routerLinkActive="active-link"
      class=" hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">
      Notifications</a>

    <a [routerLink]="['/trainer/videos']" routerLinkActive="active-link"
      class=" hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">
      Videos</a>

    <a  [routerLink]="['/trainer/dietplans']" routerLinkActive="active-link"
      class=" hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">
      Diet Plans</a>

  </div>
</div>
</div>