<div class="flex  p-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Card -->
        <div *ngFor="let plan of videos" class="border-gray-300 bg-black border-1 p-6 rounded-lg shadow-lg">
            <video [src]="'http://localhost:3000/public/images/' + plan?.video" alt="Background Image"
                class="w-full md:h-auto lg:h-60"></video>
            <h2 class="text-xl text-gray-300 font-semibold mb-2 hover:text-red-500 hover:underline ">{{plan.title}}
            </h2>
            <p class="text-gray-300">{{plan.bodyPart}}</p>
            <p class="text-gray-300">Date : {{ plan.uploadDate | date:'dd/MM/yyyy' }}
                Time : {{ plan.uploadDate | date:'HH:mm:ss' }}
            </p>
            <button matTooltip="Only premium users can access" [matTooltipDisabled]="!plan.isPremium"
                [ngClass]="plan.isPremium?'color-red text-white':'bg-white'" mat-raised-button
                (click)="getVideos(plan._id,plan.isPremium)">
                <i *ngIf="plan.isPremium" class="fas fa-crown mr-2 icon-gold"></i>Watch video</button>
        </div>
    </div>
</div>
