<app-header style="position: fixed; width: 100%;top:0;left: 0; z-index: 1;"></app-header><br>

<main class="profile-page  ">
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url(../assets/images/background1.jpg);
          ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
  </section>

  <section class="py-20 relative " style=" background-color: rgb(255, 255, 255);">

    <div class="container mx-auto px-4">

      <div class="max-w-800 container-fluid break-words bg-white  mb-6 shadow-xl rounded-lg -mt-64">
        <div *ngIf="user"
          class="justify-between max-w-3xl md:mt-0 mx-auto p-6 bg-white shadow-md rounded-lg grid gap-6 grid-cols-1 lg:grid-cols-2">
          <!-- Profile Section -->
          <div class="text-center">
            <img  alt="Profile Image" class="w-32 h-32 mx-auto rounded-full"
                [src]="user.image ? 'http://localhost:3000/public/images/' + user.image : 'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'"
                alt="">
            <button class="mt-2 text-blue-500 hover:underline" (click)="fileInput.click()">Change Image</button>
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none">


            <h1 class="text-2xl font-semibold mt-2">{{user.name}}</h1>
            <p class="text-gray-600">{{user.email}}</p>
            <p class="text-gray-600"><a class="font-bold">Plan Activated : </a>{{user.planName}}</p>
            <p class="text-gray-600"><a class="font-bold">Amount : </a>{{user.amount}}</p>
            <p class="text-gray-600"><a class="font-bold">Subscription Date : </a>{{user.subscriptionDate}}</p>
            <p class="text-gray-600"><a class="font-bold">Expiry Date : </a>{{user.expiryDate}}</p>
            <button class="mt-2 px-4 py-2 bg-red-500 text-white rounded-full" (click)="subscribe()">
              <i class="fas fa-crown mr-2"></i>Add Subscription
            </button>
          </div>

          <!-- Edit Profile Section -->
          <div>
            <h2 class="text-xl font-semibold mb-2">Edit Profile</h2>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
              <input
                class="w-full px-3 py-2 leading-tight border rounded shadow-sm focus:outline-none focus:shadow-outline focus:border-blue-500"
                type="text"
                [(ngModel)]="name" name="inputField" />
              <button (click)="changeName()"
              class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600 focus:outline-none">
                Change Name
              </button>
            </div>
          <form [formGroup]="passForm" (submit)="changePassword()" >
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">New Password</label>
              <input formControlName="password"
                class="w-full px-3 py-2 leading-tight border rounded shadow-sm focus:outline-none focus:shadow-outline focus:border-blue-500"
                type="password" placeholder="********">
            </div>

            <div class="mb-6">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="reenterPassword">Re-enter Password</label>
              <input formControlName="reEnterPassword"
                class="w-full px-3 py-2 leading-tight border rounded shadow-sm focus:outline-none focus:shadow-outline focus:border-blue-500"
                type="password" placeholder="********">
            </div>

            <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded-full">
              Change Password
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>