<nav class="bg-gray-400" style="opacity: 0.9;">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-white-900 hover:bg-gray-700
         hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false" (click)="tog()">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg [class]="smallview" class=" h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="mt-1 items-center">
          <img class=" h-8 w-auto" src="../assets/images/logoSEcond-removebg-preview.png" alt="Your Company">
          <p class="font-bold mt-0 ">Fit<a class="text-red-700">ness</a></p>
        </div>

        <div class="mt-3 navbigscreen hidden sm:ml-6 sm:block">
          <div class="navlist flex md:space-x-2 ">
            <a [routerLink]="['/home']" class="hover:bg-gray-700 text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page" style="font-weight: bold; 
            text-transform: uppercase; text-shadow: 2px 2px 4px rgb(114, 114, 114);"
              [ngClass]="{'bg-gray-900': isHomeRoute()}" routerLinkActive="active">Home</a>
            <a [routerLink]="['/trainers']"
              class=" hover:bg-gray-700 hover:text-white text-white rounded-md px-3 py-2 text-sm font-medium" style="font-weight: bold;
            text-transform: uppercase; text-shadow: 2px 2px 4px rgb(114, 114, 114);"
              [ngClass]="{'bg-gray-900': isTrainerRoute()}" routerLinkActive="active">Trainers</a>
            <a [routerLink]="['/dietplans']"
              class=" hover:bg-gray-700 text-white  rounded-md px-3 py-2 text-sm font-medium" style="font-weight: bold;
            text-transform: uppercase; text-shadow:  2px 2px 4px rgb(114, 114, 114);  "
              [ngClass]="{'bg-gray-900': isDietRoute()}" routerLinkActive="active">Dietplans</a>
            <a [routerLink]="['/videos']"
              class=" hover:bg-gray-700 text-white text-black rounded-md px-3 py-2 text-sm font-medium" style="font-weight: bold;
            text-transform: uppercase; text-shadow:  2px 2px 4px rgb(114, 114, 114);"
              [ngClass]="{'bg-gray-900': isVideoRoute()}" routerLinkActive="active">Videos</a>
            <a [routerLink]="['/bmicalculator']"
              class=" hover:bg-gray-700 text-white  rounded-md px-3 py-2 text-sm font-medium" style="font-weight: bold;
            text-transform: uppercase; text-shadow:  2px 2px 4px rgb(114, 114, 114);"
              [ngClass]="{'bg-gray-900': isBmiRoute()}" routerLinkActive="active">BMI-Calculator</a>
          </div>
        </div>
      </div>
      <ng-container>
        <div *ngIf="usertoken; else elseNotDone"
          class=" absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button"
            class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only" [routerLink]="['/chat']" [ngClass]="{'bg-gray-900': isChat()}">View
              notifications</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button>

          <div class="relative ml-3 ">
            <button type="button" (click)="onLogout()"
              class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Logout</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l-2 2 2 2m2-2l2-2-2-2" />
              </svg>
            </button>
          </div>


          <div class="relative ml-3 ">
            <div>
              <button type="button" (click)="getProfile()"
                class=" relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full"
                [src]="userData.image ? 'http://localhost:3000/public/images/' + userData.image : 'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'"
                alt="">
              </button>
            </div>
          </div>

        </div>

        <ng-template #elseNotDone>

          <div class="noUser absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <button [routerLink]="'/login'" *ngIf="!isLoginRoute()"
              class="bg-black text-white hover:bg-gray-800 hover:text-red-500 rounded-full px-4 py-2 transition duration-300 ease-in-out focus:outline-none">
              Login
            </button>
            <div class="ml-3">
              <div>
                <button [routerLink]="'/signup'" *ngIf="!isSignupRoute()"
                  class="bg-black hover:bg-gray-800 hover:text-red-500 rounded-full px-4 py-2 transition duration-300 ease-in-out focus:outline-none">
                  <span class="text-white text-sm hover:text-red-500">SignUp</span>
                </button>
              </div>
            </div>




          </div>
        </ng-template>
      </ng-container>




    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div [class]="smallview" id="mobile-menu">
    <div class=" space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a [routerLink]="['/home']" class="text-gray-300 hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page" [ngClass]="{'bg-gray-900': isHomeRoute()}">Home</a>
      <a [routerLink]="['/trainers']" [ngClass]="{'bg-gray-900': isTrainerRoute()}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">Trainers</a>
      <a [routerLink]="['/dietplans']" [ngClass]="{'bg-gray-900': isDietRoute()}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">Dietplans</a>
      <a [routerLink]="['/videos']" [ngClass]="{'bg-gray-900': isVideoRoute()}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">Videos</a>
      <a [routerLink]="['/bmicalculator']" [ngClass]="{'bg-gray-900': isBmiRoute()}"
        class="text-gray-300 hover:bg-gray-700 hover:text-white text-black block rounded-md px-3 py-2 text-base font-medium">BMI-Calculator</a>


    </div>
  </div>
</nav>