body{
  background-color: rgba(0, 0, 0, 0.034) !important;
  height: 100%;
}

.body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* background-color: rgba(0, 0, 0, 0.034) !important; */
    height: 100%;
  }
  .login {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 4px #000000;

    border-radius: 6px;
  }

  .ancho {
    width: 80%;
  }
  .button{
    width: 30%;
    border-radius: 10px !important;
    background-color:  #2196F3 !important;
  }
  .button:hover {
    background: linear-gradient(to bottom, #4400ff, #00aeff) !important;
    /* Adjust the colors and direction as needed */
  }
  .no-focus-ring:focus {
    outline: none;
    box-shadow: none;
  }
  
