/* sidebar.component.css */

.active-link {
  background-color: darkgray !important;
 
  border-radius: 10px !important;
}
.active-link span{
  color: white !important;
}
.sidenav-container {
    margin-top: 20px !important;
    margin-bottom: 2px !important;
    /* height: 100% !important; */
    background-color: rgb(255, 255, 255) !important; 
    max-width: 240px !important;
    border-radius: 10px !important;
    position: fixed;
    
  }

  
  .sidenav {
    width: auto !important;
    height: auto !important;
  }
  
  /* Add this style to your sidebar component's CSS or global styles */



