/* sidebar.component.css */

.sidenav-container {
    margin-top: 20px !important;
    height: 100% !important;
    background-color: rgb(255, 255, 255) !important; 
    max-width: 240px !important;
    border-radius: 10px !important;
    
  }

  
  .sidenav {
    width: auto !important;
    height: auto !important;
  }
  
  .active-link {
    background-color: #007bff; 
    color: white;
    font-weight: bold; 
  }