.no-focus-ring:focus {
    outline: none;
    box-shadow: none;
  }
.ActiveTrainer{
    border-top: solid 1px greenyellow !important;
    border-left: solid 5px greenyellow !important;
    border-bottom: solid 1px greenyellow !important;
    border-right: solid 1px greenyellow !important;
}