.no-focus-ring:focus {
    outline: none;
    box-shadow: none;
  }
.ActiveTrainer{
    border-top: solid 1px greenyellow !important;
    border-left: solid 5px greenyellow !important;
    border-bottom: solid 1px greenyellow !important;
    border-right: solid 1px greenyellow !important;
}
body{
  background-color: rgba(0, 0, 0, 0.034) !important;
  height: 100%;
}

.mat-tooltip-panel {
  display:block;
  max-width: 400px;
}
.tooltip-content {
  position: fixed;
  top:10%;
  right: 0;
   width: 100%;
  display: none;
  z-index: 2;
}

.tooltip-content.show {
  display: block;
}

.bg-color-msg-side{
  background-color: rgb(253, 248, 227);
}



/* loader  */

.pulse-loader {
  display: flex;
  align-items: center;

  > div {
    color: gray;
    background-color: currentColor;
    margin-right: 5%;
    width: 30%;
    height: 100%;
    border-radius: 100%;
    animation: pulse 1s ease infinite;

    &:nth-child(2) {
      animation-delay: 100ms;
    }

    &:nth-child(3) {
      margin-right: 0;
      animation-delay: 200ms;
    }
  }
}

@keyframes pulse {
  0%, 60%, 100% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: .1;
    transform: scale(.01);
  }
}