
<div class="h-auto flex items-center justify-center bg-white ">

    <button class=" absolute top-2 border rounded-md right-2 text-blue-600  hover:text-red-800  focus:outline-none"
     aria-label="Close" mat-dialog-close>
  
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
  
    <div class="bg-black text-white p-8 border border-black rounded-lg shadow-md w-full sm:w-96">
        <h1 class="text-4xl font-bold mb-4 uppercase text-white"
            style="text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Send OTP</h1>
        <form [formGroup]="setPasswordForm"  (ngSubmit)="setPassword()">
            <div class="mb-4">
                <label for="email" class="block text-white text-sm font-medium mb-2">Password</label>
                <input style="color: #ffff !important;" type="password" formControlName="password"
                    class="w-full focus:text-white px-4 py-2 bg-black border border-red-600 rounded-md focus:ring focus:ring-red-200 focus:outline-none"
                    placeholder="Enter your password" />
            </div>

            <div class="mb-4">
                <label for="email" class="block text-white text-sm font-medium mb-2">Re-enter password</label>
                <input style="color: #ffff !important;" type="password" formControlName="repassword"
                    class="w-full focus:text-white px-4 py-2 bg-black border border-red-600 rounded-md focus:ring focus:ring-red-200 focus:outline-none"
                    placeholder="Re-enter your password" />
            </div>
          
            <div class="text-center">
                <button type="submit" 
                    class="  button btn  text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring focus:ring-red-400"
                    style="background-color: #2196F3 ;">
                    Send OTP
                </button>
            </div>
        </form>
    </div>
  </div>